body{
    font-family: "Outfit", sans-serif;
}

/* header */
header{
    background-image: url("../image/pattern.png");
    background-color: #4D9DFB;
    padding-bottom: 2.2rem;
}

.img__logo{
    width: 20%;
    padding: 5% 0 0 10%;
}

/* main */
main{
    margin: 0 auto;
    width: 80%;
    padding: 1rem 9rem 0 9rem;
}

.subject__title{
    font-weight: 800;
    font-size: 4rem;
}

.subject__paragraph{
    color: #818181;
    font-size: 2rem;
    font-weight: 600;
}

.subject__paragraph-weigth{
    font-weight: 400;
    font-size: 1.3rem;
}

.subject__span-color{
    color: #20a9e5;
}

.main__img{
    padding-top: 3rem;
}

.main__img p{
    font-size: 1rem;
    font-weight: 400;
}

.first__image{
    width: 60%;
    padding-bottom: 1.3rem;
}

.second__image{
    width: 50%;
}

.main__section{
    padding-top: 2rem;
    font-size: 1.5rem;
}

.main__section p{
    padding: 1rem 0 2rem 0;
}

ul{
    font-weight: 500;
    padding-left: 1rem;
    padding-bottom: 2rem;
}

table{
 width: 100%;
 margin-bottom: 2rem;
 text-align: left;
}

thead{
    background-color: #4D9DFB;
}

tr.line{
    background-color: #b1e4f2;
}

th{
    padding: 5px;
    color: #fff;
} 

td{
    width: 3px;
    vertical-align: middle;
    font-weight: 500;
}

h2{
    color: #818181;
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 0;
}

.last__section{
    position: relative;
    padding-bottom: 1rem;
}

img{
    display: block;
}

.last__section__img{
    padding-bottom: 1.5rem;
}

.text{
    color: #ffff;
    position: absolute;
    padding-left: .8rem;
    font-size: 1.5rem;
}

.first__text{
    top: 13%;
}

.second__text{
    top: 55%;
    bottom: 50%;
}