*{
    font-family: "Outfit", sans-serif;
}

:root{
    --primary-color: #4D9DFB;
    --second-color: #20a9e5;
    --second-color-ligth:#b1e4f2;
    --white-color: #fff;
    --gray-color: #818181;
}

/* header */
header{
    background-image: url("../image/pattern.png");
    background-color: var(--primary-color);
    padding-bottom: 2.2rem;
}

.logo{
    padding: 5% 0 0 10%;
}

/* main */
.container{
    margin: 0 auto;
    width: 80%;
}

.article_title{
    padding-top: 2rem;
    font-weight: 800;
    font-size: 3rem;
}

.article_content{
    color: var(--gray-color);
    font-size: 1.5rem;
    font-weight: 600;
}

.date, .text_xs{
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--gray-color);
}

.author{
    color: var(--second-color);
}

.first__image{
    width: 60%;
    padding-bottom: 1.3rem;
}

.second__image{
    width: 50%;
}

.paragraph{
    padding-top: 2rem;
    font-size: 1.5rem;
}

.py-3{
    padding: 1.3rem 0 2rem 0;
}

.pl-3{
    font-weight: 500;
    padding-left: 1rem;
    padding-bottom: 2rem;
}

table{
 width: 100%;
 margin-bottom: 2rem; 
 text-align: left;
 font-size: 1.3rem;
}

.bg_secondary{
    background-color: var(--primary-color);
    color: var(--white-color);
}

.w-50{
    width: 50%;
} 

.bgRow{
    background-color: var(--second-color-ligth);
}

td{
    vertical-align: middle;
}

/* related articles */
h2{
    color: var(--gray-color);
    font-size: 1.5rem;
    font-weight: 500;
    padding: 1rem 0;
}

.related_article{
    width: 250px;
    height: 250px;
    background-color: var(--second-color-ligth);
    margin-bottom: 1rem;
    color: var(--white-color);
}

#monitor{
    background-image: url("../image/monitor.jpg");
}

#graph{
    background-image: url("../image/graph.jpg");
}

.related_article_title{
    padding: 1.2rem 0 0 .8rem;
}
