body{
    font-family: "Outfit", sans-serif;;
}

header{
    background-image: url("../image/pattern.png");
    background-color: #4D9DFB;
    padding-bottom: 2.2rem;
}

.img__logo{
    width: 20%;
    padding: 5% 0 0 10%;
}

main{
    margin: 0 auto;
    width: 80%;
    padding: 1rem 9rem 0 9rem;
}

.subject__title{
    font-weight: 800;
    font-size: 4rem;
}

.subject__paragraph{
    color: #818181;
    font-size: 2rem;
    font-weight: 600;
}

.subject__paragraph-weigth{
    font-weight: 400;
    font-size: 1.3rem;
}

.subject__span-color{
    color: #20a9e5;
}

.main__img{
    padding-top: 3rem;
}

.main__img p{
    font-size: 1rem;
    font-weight: 400;
}

.first__image{
    width: 60%;
    padding-bottom: 1.3rem;
}

.second__image{
    width: 50%;
}

img{
    display: block;
}